*{
    margin: 0;
    padding: 0;
}
body{
    background-color:#2ac9b4;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}
h1{
    margin: 15px;
}
.container{
    text-align: left;
}
form{
    background-color: white;
      margin: 5vh;
    padding: 30px 20px;
    border-radius: 10px;
    /* max-width: 500px; */
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.586);
    margin-bottom: 10px;
}
input{
    padding: 2px;
    display: inline-block;
    width: auto;
}
 input[type="text"],
  input[type="email"],
  input[type="number"],
  textarea,select {
    width: 100%;  
    padding: 7px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }
  input[type="checkbox"]{
        transform: scale(1.5); 
        margin-bottom:7px;
   accent-color: rgb(51, 198, 176);
  }

button{
     background-color: #16ccba;
    border: 1px solid #777;
    border-radius: 7px;
    font-size: 16px;
    display: block;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 20px;
}