* {
    margin: 0;
    padding: 0;
}

h2 {
    text-align: center;
    color: rgba(26, 8, 90, 0.84);
}

h3 {
    color: rgba(26, 8, 90, 0.84);
    font-size: 1.3em;
}

body {
    background-color: #c6d5ec;
    font-family: 'Arial', sans-serif;
    line-height: 1.6;

}

header {
    text-align: center;
    color: white;
    background-color: rgba(26, 8, 90, 0.84);
    padding: 1rem, 0;
}

.nav ul {
    list-style-type: none;
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    padding: 1rem;
}

.nav a {
    color: #ffffff;
    transition: color 0.3s ease;
    border: 2px solid #CABDFF;
    border-radius: 5px;
    padding: 2.5px;

}

.nav :hover {
    color: #ac9af2;
}

table {
    margin: 1.5em;
    border: 2px solid black;
    border-width: 0.2ch;
    background-color: rgba(255, 255, 255, 0.719);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);

}

td {
    border: 1px solid black;
    padding: 1.5em;
    
}
.links:hover{
    color:rgb(190, 4, 227);
}
footer {
    background-color: rgba(26, 8, 90, 0.84);
    color: rgba(255, 255, 255, 0.877);
    margin: 1.5rem;
    text-align: center;
}

@media (max-width: 768px) {
    table {
        display: block;

    }

    table tr {
        display: block;
        margin-bottom: 20px;
        border: 2px solid black;
        
    }

    table td {
        display: block;
        border: none;
        border-bottom: 1px solid #c0bcbc;
        
    }

    header h1 {
        font-size: 2em;
    }

    h2 {
        font-size: 1.5em;
    }

    h3 {
        font-size: 1.2em;
    }
}